.App {
  text-align: center;
  background-color: black;
  color: white;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.header {
  color: white;
}

.header1 {
  color: white;

}
.scrollmenu {
  display:flex;
  background-color: black;
  overflow: auto;
  white-space: nowrap;
}
/*
.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.scrollmenu a:hover {
  background-color: #777;
} */

.planets {
  padding: 0% 5%;
  width: 300px;
  height: 300px;
}
