.App {
  text-align: center;
  background-color: black;
  color: white;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.header {
  color: white;
  font-size: 500%;
}

.header1 {
  color: white;

}
.scrollmenu {
  display:flex;
  background-color: black;
  overflow: auto;
  white-space: nowrap;
  /* margin-top: 5%; */
}

.planet {
padding: 0% 3%;
}

.planetIMG {
  width: 300px;
  height: 300px;
}

.planetView {
  overflow: scroll;
  border-style: solid;
  border-color: orange;
  background-color: black;
  text-align: center;
  height: 90%;
  position: fixed;
  width: 45%;
  margin: -37% 30%;
}

.planetViewIMG {
  width: 300px;
  height: 300px;
}

.glyph {

  background-color: orange;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-color: orange;
  border-width: thin;
}

.planetView2 {

  /* text-align: center;
  display: flex; */
}
